<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl" class="container">
    <div class="row">
        <div class="col-sm-2 roomWrap">
            <b>ROOMS</b>
            <div id="rooms" ng-bind="rooms | renderHTMLCorrectly"></div>
        </div>
        <div class="col-sm-8 messageWrap">
            <p class="room">Now you are in {{room}}</p>
            <p class="nickName">Your nick name is {{nickName}}</p>
            <input type="text" id="data" class="messageInput" ng-model="messageInput" ng-keypress="$event.keyCode==13 && sendMessage()"/>
            <input type="button" id="datasend" value="send" ng-click="sendMessage()"/>
            <div id="conversation" class="messageLog" ng-bind-html="messageLog | renderHTMLCorrectly"></div>
        </div>
    </div>
</div>

<script src="myAngularJS.js"></script>
<!--<script>-->
    <!--$('#conversation').scrollTop($('#conversation').scrollHeight);-->
<!--</script>-->

</body>
</html>